@import "tailwindcss";
@source "../views/";
@source "../../app/";


a {
	text-decoration: none !important;
}

.screen-reader-response {
    display: none !important;
}

.wpcf7-form .hidden-fields-container,
.wpcf7-form .wpcf7-response-output {
  display: none !important;
}

ul li.submenu-item::before {
  content: "▶ ";
}

ul.menu li::before {
  content: "";
}

ul li::before {
  content: "• ";
}

h1, h2, .heading {
  font-family: "meno-banner", serif;
}

body, p, .text {
  font-family: "basic-sans", sans-serif;
}

.marquee-container {
  margin-block: 32px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.marquee-track {
  display: flex;
  width: fit-content;
}

.logo-slide {
  display: flex;
  gap: 100px;
  padding: 48px 50px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.logo-wrapper img {
  height: 80px;
  object-fit: contain;
}

@media(max-width: 760px) {
  .logo-wrapper img {
    height: 24px;
  }

  .logo-slide {
    gap: 60px;
    padding: 24px 32px;
  }
}
